<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        p {
            background-color: aquamarine;
        }
    </style>
    <link rel="stylesheet" 
    type="text/css" 
    href="{% static 'css/pelis.css'%}">

</head>
<body>
    {% include 'aplicacion/menu.html' %} 
    <h1>Harry Potter</h1>
    <img onmouseover="cambiar(this)" src="{% static 'images/harry-potter-y-la-piedra-filosofal.jpg'%}"/>
    <img src="{% static 'images/harry-potter-y-la-piedra-filosofal.jpg'%}"/>
    <img src="{% static 'images/harry-potter-y-la-piedra-filosofal.jpg'%}"/>
    <script type="text/javascript"
    src="{% static 'js/pelis.js' %}" 
    <p>Pequeños grandes magos</p>
    <p>Magia blanca</p>
    <p>El mal no podrá contra ellos</p>
</body>
</html>