<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Departamentos Hospital</title>
</head>
<body>
    {% include 'pages/menu.html' %}
    <h1>Departamentos BBDD Oracle Hospital</h1>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Localidad</th>
            <th></th>
        </tr>
        {% for d in departamentos %}
        <tr>
            <td>{{ d.numero }}</td>
            <td>{{ d.nombre }}</td>
            <td>{{ d.localidad }}</td>
            <td>
                <a href="/detallesdepartamento?id={{d.numero}}">Detalles</a>
            </td>
            <td style="background-color: lightcoral">
                <a href="/eliminardepartamento?id={{d.numero}}">Delete</a>
            </td>
            <td>
                <a href="/modificardepartamento?id={{d.numero}}">Detalles</a>
            </td>
        </tr>
        {% endfor %}
    </table>


</body>
</html>