<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles Departamento</title>
</head>
<body>
    {% include 'pages/menu.html' %}
    <h1>Detalles departamento en BBDD Oracle Hospital</h1>
    <p>
        <a href="/departamentos">Volver a Index</a>
    </p>
    <p>Número: {{ departamento.numero }}</p>
    <p>Nombre: {{ departamento.nombre }}</p>
    <p>Localidad: {{ departamento.localidad }}</p>  
</body>
</html>