<style>
    .menu{
        display:table;
        margin:0;
        font-size:larger;
    }
</style>
<div class="'menu">
<a href="/">Home</a> |
<a href="/departamentos">Departamentos</a> |
<a href="/hospitales">Hospitales</a> |
<a href="/insertardepartamento">Insertar Departamento</a> |
<a href="/eliminardepartamento">Eliminar Departamento</a> |
<a href="/detallesdepartamento">Detalles Departamento</a> |
<a href="/modificardepartamento">Modificar Departamento</a> |
<a href="/empleadosdepartamento">Empleados departamento</a> | 
</div>
<hr/>