<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar departamento</title>
</head>
<body>
    {% include 'pages/menu.html' %}
    <h1>Modificar departamento BBDD Oracle Hospital</h1>
    <form method="post">
        {% csrf_token %}
        <label>Id departamento</label>
        <input type="number" name="cajanumero"
        value="{{departamento.numero}}"/> <br/>
        <label>Nombre</label>
        <input type="text" name="cajanombre"
        value="{{departamento.nombre}}"/> <br/>
        <label>Localidad</label>
        <input type="text" name="cajalocalidad"
        value="{{departamento.localidad}}"/> <br/>
        <button>
            Modificar Departamento
        </button>
    </form>
    <h2 style="color:blue">
        {{mensaje}}
    </h2>
</body>
</html>