<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include 'informacion/menu.html' %}
 
    <h1>Página de saludo</h1> 
    <form method="post">
        {% csrf_token %}
        <label> Introduzca su nombre</label>
        <input type="text" name="cajanombre" required/>
        <br/>
        <!-- <label>Dame un número</label>
        <input type="number" name="cajanumero"/>
        <br/>
        <label>Fecha</label>
        <input type="date"/>
        <br/>
        <label>Rango</label>
        <input type="range" min="1" max="29" value="1"/>
        <br/>
        <label>Deporte favorito</label>
        <input type="radio" name="deporte" value="futbol"/> Futbol
        <input type="radio" name="deporte" value="petanca"/> Petanca
        <input type="radio" name="deporte" value="curling"/> Curling
        <br/>
        <input type="checkbox"/> ¿Te gusta Python? -->
        <br/>
        <button>
            Enviar datos
        </button>

        </form>
            {% if nombre %}
            <h1 style="color:blue">
                La suma de los dos números es: {{nombre}}
        </h1>
    {% endif %}
    
    </form> 
</body>
</html>