<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listas</title>
</head>
<body>
    <a href="/app/">Home</a>    
    <a href="https://theobjective.com">Ir a The Objective...</a>
    <a href="viernes/">Ir al viernes...</a>
    <a href="#/">Ir a listas...</a>
    
    <h1>An Unordered HTML List</h1>

    <ul>
    <li>Coffee</li>
    <li>Tea</li>
    <li>Milk</li>
    </ul>  


    <h2>An Ordered HTML List</h2>

    <ol>
    <li>Coffee</li>
    <li>Tea</li>
    <li>Milk</li>
    </ol> 



</body>
</html>